*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  color: #444;
  font-family: 'Questrial', sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  margin: 10px 0 15px;
}

.nav, nav {
  display: inline;
  list-style: none;
  margin: 1em 0;
  padding: 0;
}

.nav li, nav li {
  display: inline;
  margin-right: 1em;
}

p, ul {
  margin: 10px 0;
}

.skills ul li {
  margin-left: 30px;;
}

a {
  color: #00b8d4;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 3px solid #00b8d4;
  transform: scale(1, 1);
}

header li a {
  padding: 3px;
}

a:hover {
  text-decoration: none;
  color: white;
  transform: scale(1.1, 1.1);
  transition-duration: 250ms;
  transition-timing-function: ease-out;
}

a:focus {
  text-decoration: none;
  color: #00b8d4;
}

a.active {
  border-bottom: none;
}
.video{

}
.content-wrapper {
  display: table-cell;
  vertical-align: middle;
  line-height: 1.4;
  margin: 0 auto;
  max-width: 900px;
  padding: 100px 200px;

}

.content-wrapper li {
  margin-left: 20px;
  list-style-type: disc;
}

.carousel-indicators li {
  margin-left: 0px;
}

.bs-example {
  overflow: hidden;
  height: 100%;
}

/*
 * HEADER
 */

.header, header {
  align-items: center;
  /*background-position: cover;*/
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-top: 4px solid coral;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.aboutme {
  /*height: 100vh;*/
}

.aboutme2 {
  /*height: 60vh;*/
}

.header:before, header:before {
  background: rgba(0, 0, 0, .3);
  bottom: 0;
  content: ' ';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.header *, header * {
  position: relative;
  z-index: 2;
  text-shadow: 1px 1px 10px black;
}

.header h1, header h1 {
  font-size: 6rem;
  font-weight: 100;
}

.header h2, header h2 {
  font-size: 3.1rem;
  font-weight: 100;
  margin: 5px 0;
}

.ang {
  -moz-outline-style: none;
  outline: none;
  width: 22px;
  height: 22px;
  position: relative;
  font-size: 17px;
  background-color: black;
  color: white;
  border-color: black;
  border: none;
}

.ang:hover {
  color: coral;
}

.tagline {
  display: table;
  width: 100%;
  height: 40vh;
  background-color: white;
}

.divider {
  background-color: #00b8d4;
  position: absolute;
  width: 100%;
  height: 4px;
  display: flex;
  justify-content: center;
}

.icons8-Sortuj-w-dół {
  bottom: 14px;
  position: relative;
}

/*
 * SKILLS
 */
.slajder {
  width: 100%;
}

.skills {
  display: table;
  height: 60vh;
  width: 100%;
  background: lightgray;
  color: white;
}

.star {
  height: 28px;
  width: 28px;
}

.fourStar1 {
  margin-top: 40px;
  display: inline-block;
  width: 50%;
  margin-right: 10%;
}

.fourStar2 {
  margin-top: 40px;
  display: inline-block;
  width: 50%;
  margin-left: 10%;
}

.starsContener {
  width: 100%;
  display: inline-flex;
}

.skil {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  opacity: 1;
  transform: scale(1, 1);
}

.skil p {
  display: inline;
}
.skil :hover{
  opacity: 1;
  transform: scale(1.1, 1.1);
  transition: all 1s;
}

.footer, footer {
  display: table;
  width: 100%;
  background-color: lightgray;
  color: #444;
  height: 60vh;
}

.footer h1, footer h1 {
  font-size: 16px;
}

.footer p, footer p {
  font-size: 14px;
}

.profilesIcon {
  float: right;
}

.profilesIcon a {
  border-bottom: none;
}

.icon {
  margin-right: 10px;
  margin-left: 20px;
}

.fourIcon {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.git {
}

.git:hover {
  background-image: url("gitgit_logo.png");
}

.linkedin {
  border-bottom: none;
}

.foto {
  border-radius: 50%;
}

.contact {
  display: table;
  width: 100%;
  background-color: white;
  height: 60vh;
}

.contact a {
  border-bottom: none;
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
}

.contact a:hover {
  color: #444;
  transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transition-duration: 250ms;
  transition-timing-function: ease-out;
}

.email {
  display: flex;
  align-items: baseline;
  top: 3%;
  position: absolute;
  right: 100px;
}

.email a {
  color: white;
  margin-right: 12px;
  border-bottom: none;
}

.email a:hover {
  color: coral;
  transform: scale(1, 1);
}

#gototop {
  position: fixed;
  bottom: 9px;
  right: 9px;
  padding: 0;
  width: 60px;
  height: 60px;
  border-bottom: none;
  /*background: url(ścieżka-na-serwerze/gototop.png) no-repeat center center;*/
}

.fa {
  font-size: xx-large;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  z-index: -9999;
  transform: translateX(-50%) translateY(-50%);
  background: #000;
  background-repeat: no-repeat;

}

.fa-arrow-circle-down {
  bottom: -15px;
  position: absolute;
  color: #00b8d4;
}

.lastFa {
  bottom: -102vh;
  right: 50%;
  left: 50%;

}

.blue {
  height: 2px;
  color: #00b8d4;
  width: 100%;
}

.icons8-Sortuj-w-dół2 {
  position: absolute;
  bottom: -104.2vh;
  right: 45%;
  left: 50%;
  z-index: 2;
}

.btn-info {
  background-color: #00b8d4;
}

input {
  font-size: 13px;
}

iframe {
  width: 400px;
}

.icon {
  width: 100px;
  height: 100px;
}

.icons {
  width: 160px;
  height: 100px;
}

.crossgame {
  width: 200px;
  height: 200px;
}

.staypro {
  width: 350px;
  height: 200px;
}

.description {
  top: 0;
  position: absolute;
}

.project {
  display: table-cell;
}

.item {
  height: 60vh;
}

#Fname {
  background-image: url(contacts-social-network.png);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#Fname:focus {
  background-image: url(contacts-social-network.png);
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#Femail {
  background-image: url(at.png);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#Femail:focus {
  background-image: url(at.png);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#Ftext {
  background-image: url(black-back-closed-envelope-shape.png);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

textarea {
  width: 100%;
  height: 100px;
  line-height: 150%;
  resize: vertical;
}

#button-blue {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float: left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor: pointer;
  background-color: coral;
  color: white;
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

#button-blue:hover {
  background-color: rgba(0, 0, 0, 0);
  color: coral;
}

.submit:hover {
  color: coral;
}

.ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.submit:hover .ease {
  width: 100%;
  background-color: white;
}

.feedback-input {
  color: #3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

.feedback-input:focus {
  background: #fff;
  box-shadow: 0;
  border: 3px solid coral;
  color: coral;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.modal-content {
  background: #FFF;
  padding: 70px 30px;
  text-align: center;
  max-width: 750px;
  margin: auto auto;
  position: relative;
}

.modal-content .staypro {
  width: 650px;
  height: 350px;
}

.modal-content .crossgame {
  width: 350px;
  height: 350px;
}

.modal-content a:hover {
  color: #444;
}

.modal-content p {
  margin: 15px 0;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

.owl-carousel {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.item2 {
  position: relative;
  height: auto;
  width: fit-content;
  margin: auto;
}

.item2 i {
  display: none;
  font-size: 4rem;
  color: #FFF;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);

}

.item2 a {
  outline: none;
  transform: scale(1, 1);

}

.item2 a:hover:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  transform: scale(1, 1);
}

.item2 a:hover i {
  display: block;
  z-index: 2;
}

/* The Close Button */
.close, .close2, .close3 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 20px;
}

.close:hover, .close2:hover, .close3:hover,
.close:focus, .close2:focus, .close3:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 1100px) {
  * {
    font-size: 14px;
  }

  .star {
    width: 20px;
    height: 20px;
  }
}
@media only screen and (max-width: 1300px) {
  .owl-carousel {
    display: table;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .staypro{
    margin-bottom: 10px;
  }
  .crossgame{
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 900px) {
  * {
    font-size: 12px;
  }

  h3 {
    font-size: 20px;
  }

  .content-wrapper {
    padding: 30px 60px;
  }

  .icons8-Sortuj-w-dół2 {
    right: 45%;
    left: 45%;
    bottom: -104vh;
  }

  .icon {
    width: 50px;
    height: 50px;
  }

  .icons {
    width: 90px;
    height: 50px;
  }

  .star {
    width: 20px;
    height: 20px;
  }

  .owl-carousel {
    display: table;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .staypro {
    width: 300px;
    height: 150px;
    margin-bottom: 5px;
  }

  .crossgame {
    width: 150px;
    height: 150px;
    margin-bottom: 5px;
    margin-right: 72px;
    margin-left: 72px;
  }

}

@media only screen and (max-width: 560px) {

  .owl-carousel {
    display: table;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .staypro {
    width: 300px;
    height: 150px;
    margin-bottom: 5px;
  }

  .crossgame {
    width: 150px;
    height: 150px;
    margin-bottom: 5px;
    margin-right: 72px;
    margin-left: 72px;
  }

  .starsContener {
    display: block;
  }

  .fourStar1 {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }

  .fourStar2 {
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
}

@media only screen and (max-width: 420px) {
  * {
    font-size: 12px;
  }

  body {
    font-size: 12px;
  }

  .header h1, header h1 {
    font-size: 2rem;
  }

  .header h2, header h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 18px;
  }

  .header, header {
    background-size: auto 100%;
  }

  .icon {
    width: 50px;
    height: 50px;
  }

  .icons {
    width: 90px;
    height: 50px;
  }

  iframe {
    width: 300px;
  }

  .contact {
    height: 70vh;
  }

  .content-wrapper {
    height: 30vh;
    padding: 30px 30px;
  }

  .owl-carousel {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .staypro {
    width: 300px;
    height: 150px;
    margin-bottom: 5px;
  }

  .crossgame {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    margin-right: 72px;
    margin-left: 72px;
  }

  .white-popup-block .staypro {
    width: 300px;
    height: 150px;
  }

  .white-popup-block .crossgame {
    width: 150px;
    height: 150px;
  }

  .icons8-Sortuj-w-dół2 {
    right: 45%;
    left: 45%;
    bottom: -104vh;
  }

  .footer, footer {
    height: 83vh;
  }
}

@media only screen and (max-width: 360px) {
  * {
    font-size: 12px;
  }

  .header h1, header h1 {
    font-size: 2rem;
  }

  .header h2, header h2 {
    font-size: 1.5rem;
  }

  .contact {
    height: 70vh;
  }

  .content-wrapper {
    height: 30vh;
  }

  .profilesIcon {
    float: left;
  }

  .email {
    float: left;
    /*margin: 0;*/
    right: auto;
    left: auto;
  }

  .git {
    margin: 0;
  }

  .linkedin {
    margin: 0;
  }

  .fourIcon {
    /*display: table-cell;*/
  }

  .icon {
    width: 50px;
    height: 50px;
  }

  .icons {
    width: 90px;
    height: 50px;
  }

  iframe {
    width: 300px;
  }

  .owl-carousel {
    display: block;
  }

  .icons8-Sortuj-w-dół2 {
    right: 45%;
    left: 45%;
    bottom: -105vh;
  }

}

